@using Kendo.Mvc.UI

@{
    ViewBag.Title = "SPA and Layout";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<p>This screen is setup like QTestPad, with a control that is defined and then referenced in custom bundled javascript.</p>
<p>However we are not experiencing the same issue, both SPA and Layout work fine..</p>
<br />


@(Html.Kendo().DatePicker()
              .Name("datepicker")
              .Value("01/01/2011")
              .HtmlAttributes(new { style = "width: 100%", title = "datepicker" }))


@Scripts.Render("~/bundles/About2")


